$color3: #85c550;
$color2: #6d99da;
$fs: 1rem;

.labeled-input {
    width: 100%;
    display: flex;
    justify-content: center;

    span {
        margin: 0 1rem;
        padding: 0.3rem;
        color: $color3;
    }

    input {
        width: 14rem;
    }

    &.output {
        font-size: $fs * 1.2;
        margin: 1rem 0;

        span {
            color: $color2;
        }

        & > :last-child {
            margin: 0;
        }
    }
}

