$color1: #06162f;
$color2: #6d99da;
$color3: #85c550;

html{
	width: 100%;
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
}

#root{
	width: 100%;
	height: 100%;
}

.container {
  	display: flex;
    width: 70%;
    align-items: center;
    height: 25rem;
    flex-direction: column;
    margin: 0 auto;
	background: $color1;
};

.coin-block-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.bold {
	font-weight: bold;
}

