@import "app";

//components
@import "./components/coin-block";
@import "./components/course-string";
@import "./components/labeled-input";
@import "./components/exchange-output";
@import "./components/currency-selector";

a {
	text-decoration: none;
	color: inherit;

	&:focus, &:hover, &:visited, &:link, &:active {
		text-decoration: none;
		color: inherit;
		height: 100%;
		width: 100%;
  	}
}
